/*Fonts-family*/

* {
    font-family: 'Montserrat', sans-serif;
}

.fwlight {
    font-weight: 300;
}

.fwregular {
    font-weight: 400;
}

.fwsemibold {
    font-weight: 500;
}

.fwbold {
    font-weight: 700;
}

.cursief {
    font-style: italic;
}