.col-top-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
}

.social-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-top {
  height: 50px;
  display: flex;
  align-content: center;
  align-items: center;
  border-bottom: 1px solid #efefef;
}

.navbar-brand #navbar-id {
  height: 100px;
}

.header-top p {
  margin-bottom: 0px;
}

.border-header-top {
  margin-right: 30px;
  margin-left: 30px;
  border: 1px solid #efefef;
  height: 15px;
}

.navbar-dark .navbar-nav .nav-link {
  color: #000;
  text-transform: uppercase;
}

.visible-title {
  visibility: visible;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}


.navbar {
  padding-top: 0rem;
  padding-bottom: 0em;
}

a.nav-link:after {
  display: block;
  content: '';
  border-bottom: solid 1.5px #000;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

a.nav-link:hover:after {
  transform: scaleX(1);
}

.nav-link {
  display: block;
  padding: 0rem 1rem;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #000;
}

g#hamburger {
  fill: #000;
}

#nav {
  overflow: hidden;
  background-color: #fff !important;
  z-index: 3 !important;
}

.navi {
  position: unset;
  background: #fff;
  z-index: 1000;
}

.sticky-padding {
  padding-top: 0px;
}

.scrolled {
  position: fixed;
  top: 0;
  width: 100%;
}

#Close svg g path {
  fill: #000;
}

.navbar-toggler:focus {
  box-shadow: unset;
}


ul li.nav-item a.nav-link {
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.header-flex-r {
  display: flex;
  justify-content: flex-end;
}

ul.menu {
  padding-left: 0px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menu li {
  list-style: none;
  padding-left: 0px;
}

@media (min-width: 992px) {
  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .menu li {
    list-style: none;
    padding-left: 0px;
  }

  .menu-item {
    padding-left: 0px;
    padding-bottom: 0px;
    padding-right: 35px;

    ul.menu {
      padding-bottom: 0px !important;
    }
  }

  .menu-main-menu-nl-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .menu li {
    list-style: none;
    padding-left: 0px;
  }
}






.navbar {
  display: unset;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 0rem;
}

.hamburger {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}



.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 1000;
}

.sidenav a {
  text-decoration: none;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  right: 25px;
  margin-left: 50px;
}

.closebtn {
  display: flex;
  align-items: center;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.mySidenav {
  z-index: 100000;
}

.menu-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
  padding: 30px;
}

// search

.search-blok {
  border-bottom: 1px solid #efefef !important;
  padding: 0px;
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 13px;
  color: #5C5C5C;
  max-width: 350px;
  min-width: 300px;
}

.search-blok .search-field {
  border: none !important;
  padding: 0px;
  width: 100%;
  height: 85%;
}

#move-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.search-blok #woocommerce-product-search-field-0::placeholder {
  color: #000;
}

.search-blok #woocommerce-product-search-field-0::-webkit-input-placeholder {
  /* Edge */
  color: #000;
}

.search-blok #woocommerce-product-search-field-0:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #000;
}

button.button-search {
  border: none;
  background: none !important;
}

.nav-padding {
  padding: 30px;
}

.cartcount {
  margin-left: 7px;
  margin-top: -5px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  display: inline-flex;
  background: #cacaca;
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
}

.cart-ham {
  display: flex;
  justify-content: flex-end;
}

.nav-bottom {
  position: absolute;
  bottom: 30px;
  left: 30px;
  right: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#nav-logo-img {
  width: 100px;
}

.row-header {
  display: flex;
  align-items: center;
}

.hamburger-open {
  display: flex;
  // justify-content: flex-end;
}

.cartmobile {
  display: flex !important;
  justify-content: flex-end !important;
  margin-right: 9px;
  margin-bottom: 5px;
}


// smotth maken

.nav-padding {
  transition-delay: 0s !important;
  transition: all 0.05s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
}

.nav-bottom {
  transition-delay: 0s !important;
  transition: all 0.05s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
}

.menu-header {
  transition-delay: 0s !important;
  transition: all 0.05s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-header.transition-1 {
  transition-delay: 0.7s !important;
  transition: all 0.55s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.nav-bottom.transition-1 {
  transition-delay: 0.7s !important;
  transition: all 0.55s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.nav-padding.transition-1 {
  transition-delay: 0.7s !important;
  transition: all 0.55s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.transition-1 {
  opacity: 1 !important;
}

// hover

.menu-item a::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #000;
  transition: width .3s;
}

.menu-item a:hover::after {
  width: 100%;
}

.cart-relative {
  position: relative;
}

.cart-absolute {
  position: absolute;
  font-size: 7px !important;
  top: 64%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.img-cart {
  width: 30px;
  padding-left: 0px !important;
}

.menu-main-menu-nl-container {
  padding-right: 20px;
}

// rechter sidebar

.sidebar-r {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  transition: 0.5s;
  z-index: 100000 !important;
  overflow-y: auto;
  background: #fff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #000;
  transition-delay: 0.3s;
}

.side-panel-header-r {
  top: 25%;
  width: 100%;
  text-align: center;
}


.sidebar-r a {
  padding: 8px 0px 8px 0px;
  text-decoration: none;
  font-size: 28px;
  color: #151515;
  outline: 0;
  display: block;
  transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  display: flex;
  justify-content: flex-end;
}

.closebtn-r img {
  height: 35px;
}

.mini-cart-header {
  padding: 30px;
}

a.closebtn-r {
  padding: 30px 30px 0px 30px;
}

#overlay-r {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(192, 192, 192, 0.6);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  z-index: 9999 !important;
  cursor: pointer;
  transition: opacity .45s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.mystyle-r {
  width: 100% !important;
}


@media (min-width: 768px) {
  .mystyle-r {
    width: 600px !important;
  }
}

// end

// style cart

ol,
ul {
  padding-left: 0rem;
}

.asminicart {
  list-style: none !important;
}

.minicartimg {
  width: 80px;
}

li.asminicart {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  align-items: flex-start;
}

.minicart1 {
  width: 100px;
}

.minicart2 {
  width: calc(100% - 105px);
}

.border-hr {
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #00000020 !important;
}

.border-hr-prijs {
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #00000020 !important;
}

.remove {
  padding: 0px !important;
  line-height: 18px !important;
}

.buttons-mini-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px !important;
}

.woocommerce-mini-cart__total {
  display: flex;
  justify-content: space-between;
}

a.button.checkout.wc-forward {
  background: #000;
  color: #fff;
  padding: 10px 20px;
  width: 50%;
  display: flex;
  justify-content: center;
  border: 2px #000 solid;
  font-size: 16px !important;
}

.a.button.wc-forward,
.wc-forward {
  font-size: 16px !important;
}



a.button.wc-forward {
  background: #000;
  border: 2px #000 solid;
  color: #fff;
  padding: 10px 20px;
  width: 50%;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  line-height: 17px;
}

a.button.wc-forward:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.cart-relative {
  width: 30px;
}

.mini-cart-header {
  opacity: 0;
  transition: all 0.55s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-delay: 0s;
}

.mini-cart-header.transition-1 {
  transition-delay: 0.7s !important;
  transition: all 0.55s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.sidebar-r {
  transition-delay: 0.5s;
}

.sidebar-r.mystyle-r {
  transition-delay: 0.2s;
}

.p-left-cart {
  margin-left: 20px;
}

.home-header-hamburger {
  padding: 10px;
}

.home-header-hamburger a {
  font-size: 20px;
}

.nav-hamburger {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
}

.subscribe-header p::before {
  content: url(/wp-content/themes/andcowoman-outlet/img/icons/envelope.svg);
  margin-right: 5px;
  display: block;
  margin-top: 7px;

}

.subscribe-header p {
  display: flex;
  align-items: center;
  justify-content: center;
}



.social-header a:nth-child(2) {
  margin-right: 10px;

}

.navbar-brand {
  margin-right: 0rem !important;
}


@media only screen and (min-width: 992px) and (max-width: 1215px) {
  .balk {
    margin-left: 0px;
  }

  .menu-item {
    padding-left: 0px;
    padding-bottom: 0px;
    padding-right: 18px !important;
    font-size: 14px !important;
  }

  p.menu-item {
    font-size: 14px !important;
  }

}

.woocommerce-mini-cart__buttons .wc-forward {
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-size: 22px;
  font-weight: 700;
  padding: 0 15px;
  text-align: center;
  min-width: calc(50% - 40px);
  height: 48px;
  line-height: 47px;
  border: 1px solid #000;
  margin: 0;
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
  outline: 0;
  background: #fff;
  text-shadow: none !important;
  justify-content: center;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

.woocommerce-mini-cart__buttons .checkout {
  position: absolute !important;
  bottom: 30px !important;
  right: 30px !important;
  left: unset;
  font-size: 22px;
  font-weight: 700;
  padding: 0 15px;
  text-align: center;
  min-width: calc(50% - 40px);
  height: 48px;
  line-height: 47px;
  border: 1px solid #000;
  margin: 0;
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
  outline: 0;
  color: #fff;
  background: #000;
  text-shadow: none !important;
  justify-content: center;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

.woocommerce-mini-cart__total {
  position: absolute !important;
  bottom: 100px !important;
  left: 30px !important;
}

.woocommerce-mini-cart__total {
  border-top: #edebe6 1px solid;
  border-bottom: #edebe6 1px solid;
  padding-top: 15px;
  padding-bottom: 15px;
}

.woocommerce-mini-cart__total {
  display: flex;
  flex-wrap: nowrap;
  align-content: space-between;
  width: calc(100% - 60px);
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.button.wc-forward {
  width: 40px !important;
}

.wpml-ls-legacy-list-horizontal .wpml-ls-flag,
ul li .wpml-ls-link,
.wpml-ls-slot-shortcode_actions.wpml-ls-item.wpml-ls-item-en.wpml-ls-first-item.wpml-ls-item-legacy-list-horizontal {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.wpml-ls-legacy-list-horizontal {
  border: 0px solid transparent;
  padding: 0px;
  clear: both;
}

.wpml-ls-legacy-list-horizontal a {
  display: block;
  text-decoration: none;
  padding: 0px;
  line-height: 1;
}

.wpml-ls-statics-shortcode_actions.wpml-ls.wpml-ls-legacy-list-horizontal ul li,
.margin-px-social {
  margin-right: 10px;
}

.wpml-ls-legacy-list-horizontal>ul {
  display: flex;
}