// slider
.next_arrow {
  position: absolute;
  top: unset;
  left: unset;
  bottom: 0;
  right: 0;
  display: block !important;
  width: 15px;
  text-align: center;
  opacity: unset;
  transition: opacity 0.15s ease;
}

.next_arrow {
  position: absolute;
  top: unset;
  left: unset;
  top: 0;
  left: 30px;
  display: block !important;
  width: 35px;
  text-align: center;
  opacity: unset;
  transition: opacity 0.15s ease;
  opacity: 0.5;
}

.arrow_prev {
  position: absolute;
  top: unset;
  left: unset;
  top: 0;
  left: 0;
  display: block !important;
  width: 35px;
  text-align: center;
  opacity: unset;
  transition: opacity 0.15s ease;
  opacity: 0.5;
}

.arrow_prev:hover {
  opacity: 1;
}

.next_arrow:hover {
  opacity: 1;
}

.responsive-product {
  min-width: 100px !important;
  min-width: 100px !important;
  height: 100px;
  object-fit: cover;
  object-position: top;
}

.no-gutters-custom .slick-track {
  display: flex;
  flex-wrap: wrap;
}

.slick-track {
  transform: translate3d(0px, 0px, 0px) !important;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.slider-nav .slick-list .slick-track {
  width: 100% !important;
  margin: 0px !important;
}

.slick-list {
  padding: 0px 0px !important;
}

.responsive-product.slick-slide {
  opacity: 0.5;
}

.responsive-product.slick-slide.slick-current {
  opacity: 1;
}

// end

.single_add_to_cart_button {
  width: 100%;
  border: 1px solid #000;
  background: #000;
  color: #fff;
  height: 47px;
}

// .cart{
//     display: flex;
//     flex-direction: row;
//     align-content: space-around;
// }

.variations_form {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

// plus min

.quantity input {
  display: inline-flex;
  padding: 0;
  width: 51px;
  height: 47px;
  line-height: 46px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.125);
  justify-content: center;
  background: transparent;
  font-size: 15px;
  font-weight: 400;
  color: #151515;
  margin: 0;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.quantity {
  padding-right: 38px;
}

.quantity .plus {
  top: 0;
  left: 50px;
  height: 23px;
  line-height: 23px;
}

.quantity .minus {
  bottom: 0;
  left: 50px;
  right: unset;
  height: 23px;
  line-height: 23px;
}

.quantity .plus:before {
  content: "";
  display: block;
  background: #2f2e2e;
  width: 1px;
  height: 9px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}

.quantity .plus:after,
div.quantity .minus:after {
  content: "";
  display: block;
  width: 9px;
  height: 1px;
  background: #2f2e2e;
  position: absolute;
  top: 50%;
  left: 6px;
}

.quantity .plus,
div.quantity .minus {
  padding: 0;
  margin: 0;
  outline: 0;
  border: 1px solid rgba(0, 0, 0, 0.125);
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 23px;
  height: 24px;
  text-decoration: none;
  overflow: visible;
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
  text-shadow: none;
  background: #fff;
  color: #151515;
  border-radius: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.woocommerce-variation-add-to-cart {
  display: flex;
  flex-direction: row;
}

//   accordion

.accordion-button:focus {
  z-index: 3;
  border-color: none !important;
  outline: 0;
  box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
  color: #000;
  background-color: rgba($color: #000000, $alpha: 0.05);
  box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
  transform: rotate(90deg);
  background-image: url(/wp-content/themes/andcowoman-outlet/img/icons/arrow-l.svg);
}

/* clears the 'X' from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.variations tr {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.variations select {
  display: inline-block;
  width: 100%;
  height: 47px;
  cursor: pointer;
  line-height: 25px;
  padding: 5px 15px;
  outline: 0;
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.125);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #fff;
}

.variations select {
  background: url(/wp-content/themes/andcowoman-outlet/img/icons/arrow-b.svg) no-repeat
    right #fff;
  background-position-x: calc(100% - 15px);
  margin-bottom: 0px !important;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

img.arrowproduct {
  width: 32px;
  padding-top: 10px;
}

.img-relative {
  position: relative;
}

.overlay-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(255, 255, 255, 0.486);
}

.img-relative:hover .overlay-img {
  opacity: 1;
}

#kleur {
  margin-bottom: 20px;
}

.reset_variations {
  text-decoration: underline;
}

.reset_variations:hover {
  text-decoration: underline;
}

// message

.woocommerce-message {
  border: #00000020 1px solid;
  color: #000 !important;
  background: transparent;
  display: flex;
  justify-content: center;
}

.woocommerce-message::before {
  display: none;
}

.woocommerce-message .button {
  text-decoration: underline;
}

.woocommerce-message .button.wc-forward {
  display: none;
}

.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
  padding: 1em 2em 1em 2em;
  margin: 0px !important;
}

// bag

.woocommerce-mini-cart.transition-1 {
  transition-delay: 0.7s !important;
}

.woocommerce-mini-cart.transition-1 {
  transition-delay: 0.7s !important;
}

.woocommerce-mini-cart__total {
  display: flex;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

ul.woocommerce-mini-cart {
  padding-right: 9px;
  height: calc(100vh - 260px);
  overflow: scroll;
}

.variations_form.cart .single_add_to_cart_button {
  margin-top: 0px;
}

form.cart {
  display: flex;
  align-items: center;
}

.variations_form.cart {
  flex-direction: column;
  align-content: space-around;
  align-items: unset;
}

.slider-nav .slick-slide {
  margin-right: 10px;
  margin-bottom: 10px;
}

.hover-bred:hover {
  text-decoration: underline;
}

.bred-size {
  font-size: 14px !important;
}

// .img-relative::after {
//     content: '';
//     display: block;
//     width: 0;
//     height: 3px;
//     background: #000;
//     transition: width .3s;
//   }

.img-relative:hover::after {
  width: 100%;
}

.bc-wrap a p {
  display: inline-block;
  padding-left: 0.3125rem;
  flex-direction: row;
}

.bc-wrap a p:hover {
  display: inline-block;
  padding-left: 0.3125rem;
  flex-direction: row;
  transition: 0.3s;
}

.bc-wrap a p:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.bc-wrap a {
  display: flex;
  align-items: center;
  padding-left: 1.25rem;
}

.slider-for {
  opacity: 0;
}

.slider-for.slick-initialized {
  opacity: 1;
  transition-delay: 0.2s;
  transition: 0.2;
}

.variations select {
  color: #000;
}

.accordion-body.discription p {
  margin-bottom: 16px;
}

ol.margin-left-ol {
  margin-left: 16px;
  margin-bottom: 16px;
}

#loading {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  div {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
    animation: loading 2s ease-in-out infinite;
  }

  @keyframes loading {
    0%,
    100% {
      transform: scale(0.4);
      background-color: #000;
    }
    42% {
      transform: scale(0.6);
      background-color: #000;
    }
    50% {
      transform: scale(1);
      background-color: #000;
    }
  }

  div:nth-child(0) {
    animation-delay: 0s;
  }
  div:nth-child(1) {
    animation-delay: 0.1s;
  }
  div:nth-child(2) {
    animation-delay: 0.2s;
  }
  div:nth-child(3) {
    animation-delay: 0.3s;
  }
}
